@page "/provincia"
@inherits ProvinciaBase

<h3>REGISTRO DE PROVINCIAS</h3>

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <EditForm Model="@OProvincia" OnValidSubmit="InsertData">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="form-group col-sm-12 col-xl-6">
                        <label for="nombre">Provincia</label>
                        <InputText @bind-Value="@OProvincia.Nombre" class="form-control" />
                        <small id="helpNombre" class="text-muted">Ex.. SANTO DOMINGO</small>
                    </div>
                    <div clas="form-action col-12 col-xl-6">
                        <button type="submit" class="btn btn-primary" disabled="@(ModoEditar == true? true:false)">Agregar</button>
                        <button type="button" class="btn btn-primary" @onclick="UpdateData" disabled="@(ModoEditar != true? true:false)">Editar</button>

                    </div>
                </div>
            </EditForm>

        </div>
    </div>
</div>

@if (provincias == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Provincia</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in provincias)
                        {
                            <tr>
                                <td>@p.Nombre</td>
                                <td>
                                    <button class="btn btn-primary" @onclick="() => LoadEditar(p.Id)" disabled="@(ModoEditar == true? true:false)"><i class="bi-pencil-fill"></i></button>
                                    <button class="btn btn-danger" @onclick="() => DeleteData(p)" disabled="@(ModoEditar == true? true:false)"><i class="bi bi-x-octagon-fill"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
